
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
	 background-color: cadetblue;
}

body {
 font-family: 'Fira Sans', sans-serif;

}

.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
  font-size: 40px;
}

.heading__credits {
  margin: 10px 0px;
  color: blanchedalmond;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.avatar{
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);

}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {


    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 167, 0, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(80, 25, 80, 0.28) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 167, 0, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(80, 25, 80, 0.28) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(255, 167, 0, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(80, 25, 80, 0.28) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 167, 0, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(80, 25, 80, 0.28) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(255, 167, 0, 1) 0%, rgba(0, 188, 212, 1) 100%, rgba(80, 25, 80, 0.28) 100%);

}
            
/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
